<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert an image to a paint by numbers</title>
</head>
<body>
    <h1>Convert an image to a paint by number</h1>

    <input type="file" id="fileInput" accept="image/*" required>
    <button onclick="upload()">Upload</button>
    
    <h2>Uploaded Image</h2>
    <img id="imageDisplay" style="max-width: 100%">

    <button onclick="GetDataFromPython()">ProcessImage</button>

    <h2>Processed Image</h2>
    <img id="processedImageDisplay" style="max-width: 100%">

    <script>
        function upload() {
            const fileInput = document.getElementById('fileInput');
            const imageDisplay = document.getElementById('imageDisplay');

            const reader = new FileReader();

            reader.onload = function (e) {
                imageDisplay.src = e.target.result;
            };
            reader.readAsDataURL(fileInput.files[0]);

            const formData = new FormData();
            formData.append('image', fileInput.files[0]);

            fetch('/uploadImage', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        // Handle response from the backend
        console.log('Image upload request sent successfully');
    })
    .catch(error => {
        // Handle any errors
        console.error('Error sending image upload request:', error);
    });
        }
    </script>

    <script>
        function GetDataFromPython() {
            fetch('/get_data', {
        method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    const processedImageDisplay = document.getElementById('processedImageDisplay');
                    processedImageDisplay.src = 'data:image/jpeg;base64,' + data.processed_image_base64;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>
